
@{
    ViewBag.Title = "Index";
}

<h2>Logion</h2>
@using (Html.BeginForm("CheckLogin","Login"))
            {
                <div>
                    <p>Tai khoan</p>
                    <p><input name="taikhoan"</p>

                    <p>Mat khau</p>
                    <p><input name="matkhau"</p>
                </div>
                <input type="submit" />
}
